     *{
        font-family: 'Courier New', Courier, monospace;
        
     }

nav{
      background-color: #333;

      }

      header{

        background-color: olive;
        text-align: center;
        padding: 10px;
      }
      
      section{
      background-color: beige;
      }

      footer{
        background-color: #9f9d9d;
        text-align: center;
        padding: 10px;
      }

      article{
        background-color: aliceblue;
      }

      a{
      color: #ffffff;
      }

      h1{
        color: white;
      }
      
      h2{
        color: darkolivegreen;
      }

      h4{
        color: white;
      }

       .foot-p{
        color: white;
      }

      header p{
        color: white;
      }







